body {
	font-size: 14px; background-color: rgb(244, 244, 244);
}
.am-container {
	max-width: 1200px;
}
.am-topbar {
	background: rgb(255, 255, 255);
}
.web-name {
	color: rgb(109, 124, 132) !important;
}
@media only screen and (max-width:640px)
{
.am-dropdown {
	display: block;
}
}
.am-slides {
	background-color: rgb(0, 0, 0);
}
.am-titlebar-default {
	margin-right: 0px; margin-left: 0px;
}
.movie-description {
	transition:0.5s; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;
}
.movie-title {
	transition:0.5s; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;
}
.movie-tags {
	transition:0.5s; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;
}
.right-list li a {
	transition:0.5s; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;
}
.movie-item {
	margin: 2px auto; width: 100%; height: 262px; display: block; cursor: pointer; max-width: 178px;
}
.movie-cover {
	width: 100%; height: 208px; overflow: hidden; position: relative;
}
.movie-cover > img {
	width: 100%; height: auto; display: block;
}
@media only screen and (max-width:550px)
{
.movie-item {
	height: 242px;
}
.movie-cover {
	height: 188px;
}
}
@media only screen and (max-width:500px)
{
.movie-item {
	height: 222px;
}
.movie-cover {
	height: 168px;
}
}
@media only screen and (max-width:450px)
{
.movie-item {
	height: 202px;
}
.movie-cover {
	height: 148px;
}
}
@media only screen and (max-width:400px)
{
.movie-item {
	height: 182px;
}
.movie-cover {
	height: 128px;
}
}
.movie-description {
	width: 100%; height: 75px; bottom: -51px; position: absolute;
}
.movie-description > .description-bg {
	left: 0px; width: 100%; height: 100%; bottom: 0px; position: absolute; opacity: 0.6; background-color: rgb(0, 0, 0);
}
.movie-description > p {
	margin: 0px 10px; height: 24px; color: rgb(255, 255, 255); line-height: 24px; overflow: hidden; font-size: 12px; position: relative;
}
.movie-item:hover .movie-description {
	bottom: 0px;
}
.movie-title {
	padding: 5px 0px; width: 100%; position: relative; background-color: rgb(255, 255, 255);
}
.movie-item:hover > .movie-title {
	color: rgb(255, 255, 255); background-color: rgb(255, 102, 0);
}
.movie-title > p {
	margin: 0px; padding: 0px 10px; height: 22px; text-align: center; line-height: 22px; overflow: hidden; font-size: 14px;
}
.movie-title > .movie-tags {
	color: rgb(153, 153, 153); font-size: 12px;
}
.movie-item:hover > .movie-title > .movie-tags {
	color: rgb(255, 255, 255);
}
@media only screen and (max-width:1025px) and (min-width:640px)
{
.tv-lists li:nth-child(19) {
	display: none !important;
}
.tv-lists li:nth-child(20) {
	display: none !important;
}
}
.tv-lists .movie-item {
	height: auto;
}
.tv-lists .movie-cover {
	height: auto; max-height: 120px;
}
.right-list {
	padding-left: 0px; margin-top: 10px;
}
.right-list li {
	list-style: none; padding: 0px 10px; background-color: rgb(253, 253, 253);
}
.right-list li a {
	color: rgb(85, 85, 85); line-height: 44px; display: block;
}
.right-list li a:hover {
	color: rgb(255, 102, 0);
}
.right-list .r-l-right {
	color: rgb(153, 153, 153); font-size: 12px; margin-left: 10px; float: right; display: inline-block;
}
.right-list li:nth-child(1) .am-round {
	background-color: rgb(221, 81, 76);
}
.right-list li:nth-child(2) .am-round {
	background-color: rgb(243, 123, 29);
}
.right-list li:nth-child(3) .am-round {
	background-color: rgb(94, 185, 94);
}
#last-watch a {
	color: rgb(221, 81, 76);
}
.player-box {
	background-position: center; padding: 0px; height: 600px; background-image: url("../i/loading.gif"); background-repeat: no-repeat;
}
@media only screen and (max-width:600px)
{
.player-box {
	height: 300px;
}
}
.hover-bounce:hover {
	-webkit-animation: bounce 1s .1s ease both; -moz-animation: bounce 1s .1s ease both;
}
.am-navbar .am-navbar-nav {
	border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid; background-color: rgb(255, 255, 255);
}
.am-navbar-default .am-navbar-actions {
	border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid; background-color: rgb(255, 255, 255);
}
.am-navbar-default .am-navbar-actions a {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.am-navbar-default a {
	color: rgb(134, 134, 134);
}
.am-navbar-nav a .am-navbar-label {
	padding-top: 4px;
}
@media only screen and (min-width:640px)
{
.am-with-fixed-navbar {
	padding-bottom: 0px;
}
}
.ty-nav {
	color: rgb(51, 51, 51); font-size: 1.4rem; background-color: transparent !important;
}
.ty-nav-on {
	color: rgb(95, 184, 120); border-bottom-color: rgb(95, 184, 120); border-bottom-width: 2px; border-bottom-style: solid; cursor: pointer; background-color: transparent !important;
}
.ty-nav:hover {
	color: rgb(95, 184, 120); border-bottom-color: rgb(95, 184, 120); border-bottom-width: 2px; border-bottom-style: solid; cursor: pointer; background-color: transparent !important;
}
.ty-list > input[type=radio] {
	margin: 0px; padding: 0px; display: none;
}
.ty-list > label {
	padding: 0.4em 1em; line-height: 1.5; font-size: 1.4rem; font-weight: 400; margin-top: 0px; margin-bottom: 0px; vertical-align: middle; display: inline-block; position: relative; cursor: pointer;
}
.ty-list > input:checked + label {
	color: rgb(95, 184, 120); border-bottom-color: rgb(95, 184, 120); border-bottom-width: 2px; border-bottom-style: solid; background-color: transparent;
}
.ty-list > input:checked + label::after {
	width: 0px; height: 0px; border-bottom-color: rgb(95, 184, 120); border-bottom-width: 2px; border-bottom-style: solid;
}
.ty-screen__list {
	list-style: none; margin: 0px; padding: 4px 0px 2px; position: relative;
}
.ty-screen__list::before {
	left: 0px; top: 0px; width: 100%; height: 1px; right: 100px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid; position: absolute; content: " ";
}
:first-child.ty-screen__list::before {
	display: none;
}
.ty-screen__list li {
	font-size: 16px; float: left;
}
.ty-screen__list li span {
	padding: 3px 0px;
}
.text-muted {
	color: rgb(153, 153, 153); margin-left: 5px;
}
.ty-screen__list li a {
	padding: 2px 4px; color: rgb(51, 51, 51); margin-bottom: 0px; margin-left: 4px; display: inline;
}
.ty-screen__list li a:focus {
	color: rgb(95, 184, 120); text-decoration: none;
}
.ty-screen__list li a:hover {
	color: rgb(95, 184, 120); text-decoration: none;
}
.ty-screen__list li a:active {
	color: rgb(95, 184, 120); text-decoration: none;
}
.ty-screen__list li.active a {
	border-radius: 3px; color: rgb(95, 184, 120); border-bottom-color: rgb(95, 184, 120); border-bottom-width: 2px; border-bottom-style: solid; background-color: transparent;
}
@media all and (max-width:1023px)
{
.ty-screen__list {
	margin: 0px; padding: 0px; width: 100%; white-space: nowrap; -ms-overflow-x: scroll; -ms-overflow-y: hidden; -webkit-overflow-scrolling: touch;
}
.ty-screen__list li {
	font-size: 15px; float: none; display: inline-block;
}
.ty-screen__list li a {
	padding: 2px; margin-left: 2px;
}
.ty-screen__list li.active a {
	background: 0px 0px;
}
}
.container::before {
	clear: both; display: table; content: " ";
}
.container::after {
	clear: both; display: table; content: " ";
}
.row::before {
	clear: both; display: table; content: " ";
}
.row::after {
	clear: both; display: table; content: " ";
}
.clearfix::before {
	clear: both; display: table; content: " ";
}
.clearfix::after {
	clear: both; display: table; content: " ";
}
