.btn-prev-source {
	color: rgb(221, 81, 76); margin-left: 10px; cursor: pointer;
}
.btn-next-source {
	color: rgb(221, 81, 76); margin-left: 10px; cursor: pointer;
}
.btn-link {
	color: rgb(221, 81, 76); margin-left: 10px; cursor: pointer;
}
.btn-link:hover {
	color: rgb(221, 81, 76); margin-left: 10px; cursor: pointer;
}
.btn-play-source {
	margin: 0px 5px 5px 0px;
}
.play-source-group {
	margin: 0px 5px 5px 0px;
}
.btn-download {
	margin: 0px 5px 5px 0px;
}
.play-source-group .am-dropdown-toggle {
	padding: 0.5em 0.6em; border-left-color: rgb(199, 198, 198); border-left-width: 1px; border-left-style: solid;
}
.am-tab-panel .am-tab-panel {
	margin-bottom: -15px;
}
.am-tab-panel {
	margin-bottom: -10px;
}
.am-gallery-item img {
	max-height: 200px !important;
}
.am-table td .cat {
	margin: 0px 5px 0px 0px;
}
.am-selected-list [class*=am-icon-] {
	transition:opacity 0.15s; top: 5px; right: 8px; color: rgb(153, 153, 153); position: absolute; opacity: 0; -webkit-transition: opacity .15s;
}
.am-selected-list li:hover [class*=am-icon-] {
	opacity: 0.6;
}
.am-selected-list li.am-checked [class*=am-icon-] {
	color: rgb(14, 144, 210); opacity: 1;
}
.scroll {
	background: rgba(0, 0, 0, 0.3); top: 0px; width: 100%; height: 36px; overflow: hidden; position: absolute;
}
.scrollDiv {
	left: 10px; top: 0px; width: calc(100% - 36px); height: 36px; color: rgb(255, 255, 255); line-height: 36px; position: absolute;
}
.scroll .close_tips {
	width: 16px; color: rgb(255, 255, 255); line-height: 36px; font-size: 2rem; margin-right: 10px; float: right;
}
